*
{
 	font-family: 'FontAwesome';
}

.box-50
{   
	width:50%;
	float:left;
	
}
 #hed
{
	text-align: right;
}


.container
 {
 	margin-left: 50px;
 	margin-right: 50px;
 }
 hr
{
	color:gray;    
	border:2px double gray;
}

/*a:link
{
   color:green;
}
a:visited
{
   color:red;


}
a:hover
{
	color:red;
}*/

h4
{
	color:gray;
	font-weight: bold;
	display:inline;
}
h1
{
	color: gray;
	text-align:center;
	position: relative;
}
h3
{
	color:gray;
}

table
{
	text-align: center;
 	border: 3px solid gray;
 	border-spacing:4px;
 	margin-left:120px;
}
th
{
	border:2px solid gray;
	text-align: left;
}
td
{
	border:1px solid gray;
	text-align: left;
}
p
{
	text-indent:30px;
}