.container
{
}
.black
{
	width: 80px;
	height: 80px;
	background-color:#800000 ;

}
.white
{
	width:80px;
	height:80px;
	background-color: #FFF8DC;
}

table{
	margin-left: 250px;
	border: 10px ridge #260000;
}